body {
  font-family: Georgia, serif;

}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

a{
  text-decoration: none;
}
/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
}

nav span{
  display: flex;
  justify-content: space-around;
}

h1{
  text-align: center;
}
nav a{
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.registerForm button {
  width: fit-content;
  align-self: center;
  margin: 2px;
  background-color: cadetblue;
}

body {
  font-family: Georgia, serif;
  background-color: wheat;

}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  border-radius: 2rem 2rem 2rem 2rem;
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}

.booksmain  { 
  text-align: center;

}

.bookcontainerMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 2rem;
  
}
.bookContainer  {
  width: 200px;
  text-align: center;
  list-style: none;
  display: flex; 
  flex-wrap: nowrap;
  text-align: center;
  align-content: center;  
  flex-direction: column;
  align-items: stretch;
  border: 1px solid sienna;
  border-left: 30px solid sienna;
  background-color: cadetblue;
}



.bookContainer img{
  width:80px;
  height: auto;
  margin-left: 10px;
  padding: 10px;
  align-self: center;
  border-radius: 1rem 1rem 1rem 1rem;
}

.bookContainer p{
  align-self: center;
  padding: 1px;
  object-position: bottom;
}

.inStockBox1 {
  border: 1px solid black;
  color: white;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: green;
  width: fit-content;
  
  
}
.inStockBox2 {
  border: 1px solid black;
  color: white;
  background-color: rgb(255, 92, 92);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: fit-content;
  
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
}

.searchBar h5 {
  margin-right: 15px;
  text-align: center;

}

.singleBookContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5%;


}
.singleBookIMG {
  width: 300px;
  align-content: center;
  align-self: center;
  border-radius: 1rem 1rem 1rem 1rem;
  

}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeIMG {
  width: 500px;
  border-radius: 20rem 20rem 20rem 20rem;
}

.loginMain {
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  
}
.loginMain button {
  background-color: cadetblue;
}

.aboutUs{
  text-align: center;
}

.accountMain{
  text-align: center;
  
}

.accountMain li {
  list-style: none;
}